// Nextflow configuration for AGAT performance benchmarking

// Limit maximum parallel tasks to avoid overloading the machine
executor {
    name = 'local'
    //cpus = 8                    // Maximum CPUs available for the pipeline
    memory = '20 GB'             // Maximum memory available
    queueSize = 1               // Maximum number of concurrent tasks
    maxForks = 1                // 
}


// Enable execution reports
trace {
    enabled = true
    file = 't/perf_results/trace.txt'
    fields = 'task_id,hash,native_id,process,tag,status,exit,cpus,memory,duration,realtime,%cpu,%mem'
}

timeline {
    enabled = true
    file = 't/perf_results/timeline.html'
}

report {
    enabled = true
    file = 't/perf_results/report.html'
}

// Work directory
workDir = './work'

// Cleanup options
cleanup = false  // Set to true to automatically clean work directory after successful completion
