---
# this yaml file configure the AGAT omminiscient parser (script with _sp_ that
# load GFF/GTF into memory)

# --- output ---
# Format of the output: GFF or GTF 
output_format: GFF
# When output_type is GFF, GFF version to use (bioperl): 1, 2, 2.5 or 3
gff_output_version: 3
# When output_type is GTF, GTF version to use: 1, 2, 2.1, 2.2, 2.5, 3 or relax
# 3 = ("gene", "transcript", "exon", "CDS", "Selenocysteine", "start_codon", "stop_codon", "three_prime_utr", "five_prime_utr");
# 2.5 = ("gene", "transcript", "exon", "CDS", "UTR", "start_codon", "stop_codon", "Selenocysteine");
# 2.2 = ("CDS", "start_codon", "stop_codon", "5UTR", "3UTR", "inter", "inter_CNS", "intron_CNS", "exon");
# 2.1 = ("CDS", "start_codon", "stop_codon", "exon", "5UTR", "3UTR");
# 2 = ("CDS", "start_codon", "stop_codon", "exon");
# 1 = ("CDS", "start_codon", "stop_codon", "exon", "intron");
# relax = all feature types will be accepted
gtf_output_version: relax

# Integer - verbosity 0,1,2,3,4. 0 is quiet
verbose: 1

# Bolean - To activate / deactivate the progress bar
progress_bar: true

# Create a log file while parsing the input file to keep track of modification
# made by AGAT
log: true

# Extra verbosity for debugging
debug: false

# Output will be sorted in tabix format
tabix: false

# should overlapping loci (at CDS level) be merged in a single locus
# Only one gene is kept, and the mRNA features become isoforms. 
merge_loci: false

# should fasta embedded in GFF/GTF be thrown away from input?
throw_fasta: false

# Force using gff (bioperl) parser input version: 0,1,2,2.5,3
# 0 means let's AGAT choose automatically
force_gff_input_version: 0

#create exon when l2 do not have children
create_l3_for_l2_orphan: true

# Some annotation files use an original attribute to link features to each others 
# instead of ID/Parent used in GFF or gene_id, transcript_id used in GTF.
# The attributes used to decipher the relationship between the features
# when default ones are missing are listed under the locus_tag parameter below.  
locus_tag:
  - locus_tag
  - gene_id

# prefix used to create feature identifer
prefix_new_id: agat

# To clean feature attributes when cloning it. When AGAT creates a missing feature, 
# it uses a related feature from the record (parent or children) as a template. 
# By default the attributes will be kept. To remove them (excepted ID,Parent,gene_id,transcript_id when mandatory), 
# activate this option 
clean_attributes_from_template: false

# ----------------------------- Checks made by the parser ----------------------
# in order of appearance wihtin the parser
check_sequential: true
check_l2_linked_to_l3: true
check_l1_linked_to_l2: true
remove_orphan_l1: true
check_all_level3_locations: true
check_cds: true
check_exons: true
check_utrs: true
check_all_level2_locations: true
check_all_level1_locations: true
check_identical_isoforms: true
