# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    #container:
    #  image: perl:5.30

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install libdb-dev
        run: sudo apt-get -y install libdb-dev
      - name: Install R
        run: sudo apt-get -y install r-base
        
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      #- name: Checkout AGAT
      - uses: actions/checkout@v2
      - name: Setup Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
            perl-version: '5.30'
            install-modules-with: cpanm
            install-modules-args: --notest --force
            install-modules: File::ShareDir::Install Devel::Cover::Report::Coveralls
      - uses: webiny/action-post-run@2.0.1
        id: post-run-command
        if: ${{ failure() }}
        with:
          run: cat /home/runner/.cpanm/build.log
      - name: install AGAT deps
        run: cpanm --installdeps --notest --force .
      - name: test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cover +ignore "/local\b" -test -report Coveralls
