# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
# Triggers the workflow on push or pull request events
on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:  

  # This workflow contains a second job called "build2"
  build_perl538:
    # avoid to run twice push and PR
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    # The type of runner that the job will run on
    runs-on: ubuntu-24.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install required system packages
        run: sudo apt-get -y install libdb-dev r-base build-essential
        
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout AGAT code
        uses: actions/checkout@v4

      - name: Setup Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
            perl-version: '5.38.2'
            install-modules-with: cpanm
            install-modules-args: --notest --force
            install-modules: ExtUtils::MakeMaker File::ShareDir::Install
            enable-modules-cache: true

      - name: Cache perl modules
        uses: actions/cache@v4
        with:
          path: local
          key: ${{ runner.os }}-perl5-${{ hashFiles('**/Makefile.PL') }}
          restore-keys: |
            ${{ runner.os }}-perl5-

      - name: install AGAT dependencies
        run: cpanm --installdeps --notest --skip-satisfied .

      - name: Show cpanm build log on failure
        if: failure()
        run: cat ~/.cpanm/build.log || echo "No build log found"

      - name: Run test
        run: make test  
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HARNESS_OPTIONS: j2
        
  # This workflow contains a first job called "build"
  build_perl530:
    # avoid to run twice push and PR
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    # The type of runner that the job will run on
    runs-on: ubuntu-24.04

    #container:
    #  image: perl:5.30

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install required system packages
        run: sudo apt-get -y install libdb-dev r-base build-essential
        
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # Use of Devel::Cover@1.44 because newer versions take in account all scripts (even those we just do a -h). It drops the coverage ~5%. I would improve testing before unpinning this version.
      - uses: actions/checkout@v4
      - name: Setup Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
            perl-version: '5.30'
            install-modules-with: cpanm
            install-modules-args: --notest --force
            install-modules: >
              Devel::Cover@1.44
              Devel::Cover::Report::Coveralls
            enable-modules-cache: true

      - name: Cache perl modules
        uses: actions/cache@v4
        with:
          path: local
          key: ${{ runner.os }}-perl5-${{ hashFiles('**/Makefile.PL') }}
          restore-keys: |
            ${{ runner.os }}-perl5-
    
      - name: install AGAT dependencies
        run: cpanm --installdeps --notest --skip-satisfied .
      
      - name: Show cpanm build log on failure
        if: failure()
        run: cat ~/.cpanm/build.log || echo "No build log found"

      - name: Build AGAT
        run: |
          perl Makefile.PL
          make

      - name: Run tests with coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HARNESS_PERL_SWITCHES: -MDevel::Cover
          DEVEL_COVER_OPTIONS: >
            -select ^blib/lib/AGAT
            -select ^blib/script/
            +ignore ^local/
          DEVEL_COVER_DB: cover_db
        run: |
            rm -rf cover_db
            prove \
              -Iblib/lib -Iblib/arch \
              -l -j $(nproc) \
              $(find t -name '*.t')

            # Resume coverage
            cover -summary

      - name: Upload coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cover -report coveralls